<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Merriweather&family=Pacifico&family=Patrick+Hand&family=Sacramento&display=swap" rel="stylesheet">
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Merriweather&family=Pacifico&family=Patrick+Hand&family=Sacramento&display=swap');
        </style>
        <style>
            body{
                background-color: #007bff;
                color:white;
                padding:20px;
                font-family: 'Baloo Bhaijaan 2', cursive;
                /* font-family:'Sacramento', cursive; */
            }
            h1{
                margin:5%;
            }
            h3{
                margin-top:5%;
            }
        </style>
</head>
<body>
    <h1 class="text-center">Congragulations <%= navUsername %> !! </h1>           
    
    <h2 class="text-center">You have successfully cleared all the levels .</h2>
    <h2 class="text-center">you have   <%= navStars %> stars</h2>
  
    <h3 class="text-center" >We appreiciate your hardwork and sincerity</h3>
</body>
</html>