<!DOCTYPE html>
<html lang="en">

<head>
	<title>Compiler</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/home.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ace/ace.js"></script>
	<style>
		body{
			margin-top: 25px;
		}
		.btm{
			border-radius: 10px;
    		margin: 15px;
			margin-left: 220px;
			width:150px;
		}
		.op{
			border-radius: 10px;
			border: 3px solid;
		}
	</style>
</head>
	<body>
	<div class="container sbb">
		<div class="row sbb">
			<div class="col-sm-8">
				<div id="editor"><p><%= startingcode %> </p></div>
				<form id="codepost" action="/compiler" method="POST">
				  <input id="code" type="hidden" name="code" value="">
				</form>

			</div>
		</div>
		<div class="row justify-content-end">
			<button type="button"  class="btn btn-primary btn-lg  btm" onclick="compileCode();">Run</button>
		</div>
		<h5>Output</h5>
		<div id="output" class="card  op">
		  <div class="card-block"><p><%= outputmessage %></p>
		  </div>
		</div>
	</div>

	<script>
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.getSession().setMode("ace/mode/c_cpp");
		
		function compileCode() {
			var codetext = editor.getValue();
		    document.getElementById("code").value = codetext;
		    document.getElementById("codepost").submit();
		}
	</script>

</body>

</html>
